@font-face {
  font-family: "DOS";
  src: url("/onlinemachines/DOSANK.woff") format("WOFF");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: "DOS", sans-serif;
  width: 100%;
}