@font-face {
  font-family: "DOS";
  src: url("DOSANK.woff") format("WOFF"); /*/onlinemachines/*/
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: "DOS", 'Consolas', 'Courier New', monospace;
  width: 100%;
  font-size: 16px; /* DOS Font? */
  line-height: 1;
}

header {
  background-color: #ffffff;
  color: #000;
  white-space: pre;
}